html{
    scroll-behavior: smooth;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em!important;
    font-weight: bold;
    color:#fff!important;
}
.custom-nav-item {
    color:#fff!important;
    
}
.custom-nav-item:hover{
    background-color: #ff0000;
    border-radius: 5px;
    color:white!important;
    
    
}
.log-btn:hover{
    background-color: #ff0000!important;
    border-radius: 5px!important; 
    color:white!important;
    }
.sign-btn:hover{
    background-color: #ff0000!important;
    border-radius: 5px!important;
    color:white!important;
}
.vid-mar-remove{
    margin: 0px!important;
    padding: 0px!important;
    
    
}
.vid-parent{
    position: relative;

}
video{
    width: 100%;
    height:100%;
}
.vid-overlay{
    position: absolute;
    top:0;
    left:0;
    height: 99.4%;
    width: 100%;
    background-color: blueviolet;
    z-index: 1;
    opacity: 0.5;
   
}
.vid-content{
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color:white;
    z-index: 2;
    width: 100%;

}
.vid-content .btn:hover{
background-color:#ff0000;
color:white;
margin-top:0px;

}
.my-content1{
    letter-spacing: 2px; 

}
.my-content2 {
    letter-spacing: 2px;
    margin-bottom: 0px;
    

}
.card:hover{
    box-shadow: 0px 0px 20px blue!important;
}
.txt-banner{
    background-color: #ff0000;
    color:white;
    margin-top: -5px;
   
}

.fa{
    color:black;
}
.vid-content h1{
    font-size: 50px!important;
}
.vid-content p{
    font-size: 25px!important;
}
.vid-content .btn{
    background-color:#ff0000;
    color:white;
}
.coloum a{
    margin-left: 40px!important;
    border-radius: 50px;
    width: 80px;

}
.contact .form-group input {
    border-radius: 50px;
    
}
.contact .form-group textarea {
    border-radius: 10px;
}
.contact .btn {
    border-radius: 50px;
    width: 150px;
    box-shadow: 2px 2px 2px black;
}
.details{
    
    height: 350px;
    width: 400px;
    background-image: url('../images/1.jpg')!important;

    color:white!important;
    
}
.cont{
    margin-left: 25%;
}
.sec-cont{
    background-image: url('../images/ljuWD8.webp')!important;
    z-index: 1;
    
}
.footer{

	background-color: black;
}
footer .fa{
	height: 50px;
	width:50px;
	border-radius: 50px;
    border:3px solid blueviolet; 
    border:none;
    background: #232b2b;
	padding-top:9px;
  
    
    
    transition:0.3s ease all;
    
} 
footer .fa:hover{
    
    transform: scale(0.8,0.8) !important;
    
    
}
.first p{
    text-align: justify; 
    margin-left: 70px;
}

.modal-header{
    border-bottom: none!important;
}
.log-modal{
    height: 400px!important;
    background-image: url('../images/form-img.jpg')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: 100% 100%!important;
}
.sign-modal{
    
    background-image: url('../images/signup.jpeg')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: 100% 100%!important;
}
.modal-footer{
    border-top: none!important;
}

 @media screen and (min-width:0px)and (max-width:700px){
  
 
.custom-nav{
padding: 10px 20px!important; 
background-color: blueviolet!important;

} 
.txt-banner{
    display: none;
}
.nav-item:hover{
    color: #ff0000!important;
    border: none!important;
    
} 
.nav-item a {
    color:#fff!important;
    text-align: center;
    border-radius: 50px!important;
}

.log-btn:hover{
    background-color: #ff0000!important;
    border-radius: 50px!important; 
    color:white!important;
    }
.sign-btn:hover{
    background-color: #ff0000!important;
    border-radius: 50px!important;
    color:white!important;
}
.vid-content h1{
    font-size: 25px!important;
}
.vid-content p{
    font-size: 15px!important;
}
.vid-content .btn{
    background-color:#ff0000;
    color:white;
}
 
 }



